@import "react-alice-carousel/lib/alice-carousel.css";
.TudoMobile {
    display: none;
}

.Card {
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
}

.alice-carousel {
    background: rgb(248, 248, 248);
}

.alice-carousel__stage-item{
    width:auto !important;
    margin: 15px 0 0 0;
}


.alice-carousel__dots-item{
    background-color: black;
}

.alice-carousel__dots-item:hover, .alice-carousel__dots-item.__active{
    background-color: maroon;
}

.alice-carousel__dots-item.__active{
    width: 10px;
    height: 10px;
}

.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    margin: 0;
    color: black;
}

.sliderimg{
    height: 450px;
    margin:0 10px;
    border: 1px solid gray
}

.Funcionalidades{
    display: flex;
    flex-wrap: wrap;
    background: lightgray;
}
.cardFunc{
    width: 23%;
    padding: 1%;
}

.linha1{
    display: flex;
}

.numFunc{
    background-color: maroon;
    color: white;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    font-family: poppins-medium;
    font-size: 100%;
    align-items: center;
}

.Churrapp{ 
    color: white !important;
    font-family: poppins-medium;
    font-size: 100%;
}

.titulo{
    color: maroon !important;
    padding: 0 0 6px 15px;
    font-family: poppins-medium;
    font-size: 100%;
}

.descricao{
    font-family: poppins-light;
    font-size: 80%;
    margin: 5px 0 0 0px;
}

.Card .Conteudo {
    flex: 1;
    padding: 30px 0px;
    color: #800000;
    font-size: 70px;
    /* width: 50%; */
    overflow: hidden;
}

.Card .Conteudo .Texto {
    font-size: 50%;
    color: white;
    display: block;
    margin:10px 20px;
    text-align: justify;
    font-family: Poppins-Light;
}
.Card .Conteudo .TextoItems {
    font-size: 30px;
    color: black;
}

.Card .Conteudo .Video {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 8px 8px 1px grey;
    margin: 20px 50px;
}

.leftSide1{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.googlePlay{
    width: 50%;
    cursor: pointer;
}

.breveGooglePlay {
    color: black;
    font-family: poppins-medium;
    margin-top: 50px;
    box-shadow: 0px 0px 9px 4px lightgrey;
    align-self: center;
    background: lightgray;
    padding: 10px;
    font-size: 30px;
}

.Card .Conteudo .BtnGoogle {
    margin-top: 8%;
    width: 50%;
    height: 80px;
    background-image: url(../../assets/image/google-play-badge.png);
}

.Linha {
    border: 2px solid black;
    border-radius: 2px;
}

.ImgBox {
    box-shadow: 0px 8px 8px 1px grey;
}

.Card .Conteudo .Circulo {
    width: 30px;
    height: 30px;
    background-color: maroon;
    border-radius: 40px;
    font-size: 20px;
    color:white;
    flex-wrap: wrap;
    margin-left: 5%;
    box-shadow: 0px 8px 8px 1px grey;
    font-family: poppins-medium;

}
.Item {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.ItemNumero {
    position: absolute;
    margin-left: 2.3%;
}
.Modal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ModalConteudo {
    background-color: none;
    border: 2px solid #000;
    box-shadow:  4px 0px 20px 1px black;
    
}
.imgModal {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .Tudo {
        display: none;
    }
    .TudoMobile {
        display: block;
    }
    .CardMobileTest {
        flex: 1;
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 100%;
    }
    .CardMobileTest .Conteudo {
        flex: 1;
        padding: 10px 0px;
        color: maroon;
        font-size: 30px;
        width: 100%;
    }
    .CardMobileTest .Conteudo .Texto {
        font-size: 15px;
        color: black;
        margin-top: -5%;
        margin-left: 2%;
    }
    .CardMobileTest .Conteudo .BtnGoogle {
        margin-top: 8%;
        width: 80%;
        height: 40px;
        background-color: green;
        font-size: 0.5rem;
        box-shadow: 0px 8px 8px 1px grey;
    }
    .CardMobileTest .Conteudo .BtnApple {
        width: 80%;
        height: 40px;
        margin: 8% 8%;
        font-size: 0.5rem;
        box-shadow: 0px 8px 8px 1px grey;
    }
    .CardMobileTest .Conteudo .Video {
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 8px 8px 1px grey;
    }
    .Card .Conteudo .Circulo {
        width: 0;
        height: 0;
        background-color: lightgray;
        border-radius: 10px;
        flex-wrap: wrap;
        margin-left: 5%;
        box-shadow: -1px 2px 8px 1px grey;
    }
    .Card .Conteudo .TextoItems {
        font-size: 10px;
        align-self: flex-end;
        margin-left: 20%;
        
    }
    .sliderimg {
        width: 60px;
        height: 100%;
        object-fit: contain;
        position: relative;
    }
    .Linha {
        border: 1px solid black;
        border-radius: 6px;
    }
    .ItemNumero {
        position: absolute;
        font-size: 15px;
        margin-right: 10px;
        box-shadow: -5px 4px 8px 0px grey;
        background: lightgray;
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }
    .Item {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .ModalConteudo {
        width: 80%;
        background-color: none;
        border: 2px solid black;
        box-shadow:  4px 0px 20px 1px black;
    }
    .imgModal {
        width: 100%;
        height: 100%;
    }
}