.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: darkgray;
    width: 100%;
    overflow: hidden;
    height: 80px;
    position: fixed;
    top: 0px;
    z-index: 1;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.insta{
    height: 40px;
    cursor: pointer;
} 

.email {
    margin-right: 20px;
    height: 40px;
    cursor: pointer;
}

.App-logo {
    /* animation: App-logo-spin infinite 5s linear; */
    margin-left: 15px;
    height: 80px;
}

.TituloBox {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center
}

.Titulo {
    font-family: candy;
    margin: 0px;
    font-size: 80px;
    color: #800000;
}


/* Ipad */

@media screen and (max-width: 1024px) {
    .Header {
        background-color: black;
    }
    .TituloBox {
        margin-right: 36%;
    }
}

@media screen and (max-width: 340px) {
    .Titulo {
        font-size: 3rem;
        margin: 0px;
    }
}

@media screen and (max-width: 260px) {
    .Titulo {
        font-size: 2rem;
        margin: 0px;
    }
}