.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: darkgray;
    width: 100%;
    overflow: hidden;
    height: 80px;
    position: sticky;
    top: 0px;
    z-index: 1;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.insta{
    height: 40px;
    cursor: pointer;
} 

.email {
    margin-right: 20px;
    height: 40px;
    cursor: pointer;
}

.App-logo {
    /* animation: App-logo-spin infinite 5s linear; */
    margin-left: 15px;
    height: 70px;
}

.TituloBox {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center
}

.Titulo {
    font-family: candy;
    margin: 0px;
    font-size: 80px;
    color: #800000;
}

